.right-sidebar {
  width: 285px;
  padding: 5px;
}

.search-container {
  position: relative;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 8px 8px 8px 30px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
}

.search-button {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.search-button svg {
  vertical-align: middle;
  fill: gray;
}

.trends-container {
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-top: 10px;
}

.trend-item {
  padding: 10px;
  text-align: start;
}

.trend-item:last-child {
  border-bottom: none;
}

.trend-content {
  margin-bottom: 10px;
}

.trend-category {
  font-size: 12px;
  color: grey;
}

.trend-name {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

.trend-count {
  font-size: 12px;
  color: grey;
}
